<h1>Account Page</h1>

<p>Login</p>
<form action="/login" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>

<p>New here? To Signup click <a href="/register"><b>here</b></a></p>