<h1>Register here</h1>

<p>Register</p>
<form action="/register" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>

<p>Already have an Account? To Login click <a href="/account"><b>here</b></a></p>